@font-face {
    font-family: 'seven_segmentregular';
    src: url('/font/seven_segment-webfont.woff2') format('woff2'),
         url('/font/seven_segment-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



h5{
    font-family: 'seven_segmentregular';
    font-weight: 800;
    font-size: larger;
}

h5#ms{
    color: #e2e2;
}

.clock{
    box-shadow: 10px 10px #efef;
}